<html lang="en" ng-app="modrApp">
  <head>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    
    <script src="/bower_components/angular/angular.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script type="text/javascript" src="/bower_components/socket.io-client/socket.io.js"></script>

    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/json2/20130526/json2.min.js"></script>

    <script type="text/javascript" src="js/ui-bootstrap-custom-0.10.0.min.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>

    <script type="text/javascript" src="js/app.js"></script>
  </head>
  <body ng-controller="EventListCtrl">
    <div class="container">
      <div class="row">
        <h1>PSWinCom MO/DR test web</h1>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div ng-repeat="event in events" data-toggle="tooltip" data-placement="bottom" title="{{event.json}}" class="panel panel-default">
            <div class="panel-heading">
            <span class="label label-default">{{event.event}}</span> <small>{{event.time}}</small>
            </div>
            <div class="panel-body">
              <event-detail content="event"></event-detail>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary" ng-click="clearEvents()">Clear History</button>
        </div>
      </div>
    </div>
  </body>
</html>