<html lang="en" ng-app="modrApp">
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </head>
  <body ng-controller="EventListCtrl">
    <div class="container">
      <div class="row">
        <h1>PSWinCom MO/DR test web</h1>
      </div>
      <div class="row">
        <div class="col-md-10">
          <table class="table">
            <thead>
              <tr>
                <th>Type</th><th>Time</th><th>Detail</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="event in events">
                <td>{{event.event}}</td>
                <td>{{event.time}}</td>
                <td>{{event.body}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary" ng-click="clearEvents()">Clear History</button>
        </div>
      </div>
    </div>
  </body>
</html>